body {
    min-height: 100vh;
    background-image: url(./unnamed-2.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

section {
    padding-top: 10rem;
    color: white;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h3 {
    font-weight: bold;
}

.gradation {
    background: linear-gradient(90deg, #092ee9, #f4ecf3 50%, #f3260b);
    background: -webkit-linear-gradient(0deg, #092ee9, #f4ecf3 50%, #f3260b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.timer-box {
    width: 100px;
    height: 100px;
}
.timer-text {
    /* font-style: italic; */
    font-size: 16px;
}

.timer-card {
    width: 80%;
    height: 78%;
    font-weight: 800;
    font-size: 30px;
    box-shadow: 10px 10px 10px rgb(9, 21, 241);
}

.text {
    padding-top: 4rem;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.big {
    font-size: 30px;
}

.music {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
}